*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}.submit{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap:28px;
    align-items: center ;
    width:430px;
    height:350px;
    box-shadow: 1px 2px 3px black;
    border: 1px solid white;
    border-radius: 6px
}
.submit p{
  
    font-size: 17.5px;
}
.submit .haa{
    color:#04AA6D;
    font-size: 45px;
}