*{
    padding: 0;
    margin: 0;
}

.main{
     display: flex;
     flex-direction: column;
    width:100vw;
    height: 92vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.gitlogo{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 400;
}
.userdetails{
   border-radius: 5px;
    width:308px;
    height: 250px;
    border : 1px solid black;
    padding: 20px;
    margin: 30px;
    box-sizing: border-box;
}
form{
    padding: 0;
    margin: 0;
}
 .pass{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
input{
    width: 100%;
    height :23px;
}

.pass a{
    font-size: 16px;
    text-decoration: none;
    color:rgb(144, 48, 239)
}
.createaccount{
    width:286px;
    height:auto;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 5px;
}
.createaccount a{
    color:rgb(144, 48, 239);
    text-decoration: none;
}
.createaccount p{
    margin: 0;
    font-size: 15px;
}
button{
    background-color: rgb(14, 173, 14);
    border: none;
    width :100%;
    height:32px;
    border-radius: 5px;;
}
button a{
    text-decoration: none;
    color :white;
    font-size: 16px;

}