*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial,'helvetica Neue','Inter',sans-serif;
    font-weight: 400;
}
.header{
    width: 100%;
    height: 14vh;
    background-color: rgb(255,82,0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}
.inner-header{
    width:80%;
    height:7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.left-header{
    width:40%;
    height: 7vh;
}
.right-header{
    width:60%;
    height:7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right-header .nav{
   gap: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.right-header .nav a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}
.right-header .nav .getApp{
    font-size: 17px;
    border:  1px solid white;
    padding: 14px;
    border-radius: 10px;
}
.signin{
    border: 1px solid black;
    background-color: black;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 19px;
}
.home-section{
    width: 100%;
    height:78vh;
    background-color: rgb(255,82,0);
    position: relative;
    
}
.home-section .imgs{
    position: absolute;
    top:0%;
    left:0;
}
.home-section .images{
     position: absolute;
    top:0%;
    right:0;
}
.boxes{
    width:100%;
    height:40vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 10px; 
}

.home-first-section{
    width:100%;
    height:30vh;
    background-color: rgb(255,82,0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.loc-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:25%;
    height:8vh;
    background-color: white;
    border-radius: 14px;
}

.loc-wrap input{
    border: none;
    font-size: 16px;
}

.loc-sec-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 33%;
    height:8vh;
    background-color: white;
    border-radius: 14px;
}
.loc-sec-wrap input{
    border: none;
    font-size: 16px;
}

.items-section{
    width:100%;
    height: 230vh;
    background-color: yellow;
}
.app-section{
    width: 100%;
    height: 40vh;
    background-color: aquamarine;
}
.box-section{
    width:100%;
    height:90vh;
    background-color: blueviolet;
}
.footer{
    width:100%;
    height:80vh;
    background-color: rgb(47, 228, 92);
}